.form{
    width: auto;
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: left;
}
.form-content{
    width: 33%;
    margin: 0 auto;
}
input[type="number"],select{
    margin-bottom:1rem;
    width: 300px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }  
