.historia{
    background-color: var(--lightBlue);
    width: 90%;
    margin: 0px auto;
}
.historia-container{
    display: grid;
    grid-template-columns: 1fr;
}
.historia-data{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
}
@media screen and (min-width:768px) {
    .historia-container{
        display: grid ;
        grid-template-columns: 1fr 2fr;
    }
    .historia-data{
        grid-template-columns: repeat(2,1fr);
    } 
}

.historia-title{
    text-align: center;
}
.historia-title p{
    font-size: 2rem;
    padding: 0rem
}
.historia-element{
    width: 280px;  
    height: 30px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--lightGray);
    margin: 10px 0px 10px 0px;

}
.historia-element p{ 
    height: auto;
    color: var(--brickRed); 
}
.historia-text{
    text-align: center;
}
