@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
:root{
  --cadetBlue: #4D7186;
  --lightBlue: #819baa;
  --lightGray:#D8CCC2;
  --brickRed:#C5313E;
  --lightWhite: #fcfcfc;
  --midnightBlue: #081B2E;
  --titleText:'Montserrat', sans-serif;
  --bodyText:'Lato', sans-serif;
}
body{
  font-family: var(--bodyText);
  background-color: var(--cadetBlue);
  color: var(--lightWhite);
}
.title{
  text-align: center;
  font-family: var(--titleText);
  color: var(--lightWhite);
  width: 100%;
}
.red{
  color: var(--brickRed);
}
.close{
  color: var(--brickRed);
  font-weight: 800;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.center{
  margin: 0 auto;
  display: block;
}
.button{
  font-weight: 600;
  background-color: var(--brickRed);
  color: var(--lightWhite);
  border: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}
.big-button{
  background-color: var(--brickRed);   
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  display: block;
  margin: 10px auto;
  cursor: pointer;
}